
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
a, abbr, acronym, address, article, aside, audio, blockquote, body, button, canvas, cite, code, dd, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, input, label, li, mark, nav, ol, p, pre, q, section, select, span, strong, sub, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, video {
    margin: 0;
    padding: 0;
}
.button, a {
    text-decoration: none;
}
a {
    color: white;
    cursor: pointer;
}

button, input, select, textarea {
    border-radius: 0;
    font-family: inherit;
    vertical-align: baseline;
}

button, select {
    line-height: normal;
}
button {
    border: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
@media (min-width: 45em){
.rmq-96b0e111 {
    margin-bottom: 64px !important;
    padding-bottom: 64px !important;
}
}
.rmq-9dcd6311{
    margin-bottom:32px;
    padding-bottom:32px;
}
.rmq-44699dbf {
    top: 0px !important;
}
@media (min-width: 30em){
    .rmq-44699dbf {
        margin-top: -85px !important;
    }
    }
@media (min-width: 45em){
.rmq-44699dbf {
    margin-top: -185px !important;
}
}
.Masthead{
    width:100%;
    background-color:#000;
    color:#fff;
    overflow:hidden;
    position:relative;
    height:420px;
    margin-top:-87px;
}
@media (min-width: 30em){
    .Masthead{
        height: 486px; 

    }
}
@media (min-width: 45em){
    .Masthead{
        height: 665px; 

    }
}
.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}
.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}
.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slick-track {
    top: 0;
    left: 0;
}

.MastheadSlider .slick-track {
    position: relative;
    height: 100%;
    width: 100% !important;
}
@media (min-width: 45em){
    .MastheadSlider .slick-track {
        width: 100% !important;
    }
}
.slick-track{
    opacity: 1; 
    width: 11650.5px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-initialized .slick-slide {
    display: block;
}
.MastheadSlider .slick-slide {
    z-index: 1;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
}
@media (min-width: 45em){
.MastheadSlider .slick-slide {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    float: none;
    width: 100% !important;
}
}
.MastheadSlider .slick-slide-default {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: none; 
    display: block;
    height: 420px; 
    position: relative; 
    width: 1226.36px; 
    left: -1226.36px; 
    opacity: 1; 
    visibility: visible; 
    transition: opacity 500ms linear, visibility 500ms linear;
}
@media (min-width: 30em){
    .MastheadSlider .slick-slide-default {
        height: 486px; 

    }
}
@media (min-width: 45em){
    .MastheadSlider .slick-slide-default {
        height: 665px; 

    }
}
.MastheadSlider .slick-slide.slick-active {
    z-index: 10;
    position: relative !important;
}
.slick-slide >img{
    width: 100%;
    height: 795px;
}
.HomePageSlide{
    width:100%;
    height:125%;
    transform:translateZ(0);
}
@media (min-width: 30em){
    .HomePageSlide{
        height: 110%;

    }
}
@media (min-width: 45em){
    .HomePageSlide{
        height: 100%; 

    }
}
@media (min-width: 48em){
.animate .HomePageSlide .HeroImageContainer {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: 16s forwards zoomScale;
    animation: 16s forwards zoomScale;
}
}
.HomePageSlide .HeroImageContainer {
    background-color:transparent;
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    transition:opacity 800ms ease;
}
.GradientOverlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0.67;
    z-index:1;
    background-image:linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%);
}
.container {
    box-sizing: border-box;
    max-width: 1290px;
    margin-left: 10px;
    margin-right: 10px;
    
    height: 100%;
}
@media (min-width: 30em){
.container {
    margin-left: 30px;
    margin-right: 30px;
}
}
@media (min-width: 67.5em){
    .container {
        margin-left: 60px;
        margin-right: 60px;
    }
}
@media (min-width: 45em){
    .rmq-5b109bb5 {
        bottom: 5em !important;
    }
}
.rmq-5b109bb5{
    position: absolute;
    bottom: 7.5em;
    z-index: 3;
}
@media (min-width: 37.5em){
.rmq-bccac90c {
    width: 65% !important;
}
}
.rmq-bccac90c{
    width: 80%;
    transition: opacity 400ms ease;
    opacity: 1;
}
.rmq-bccac90c a{
    color: #fff;
    cursor: pointer;
}
.rmq-e6776fcd{
    padding-bottom: 16px;
    display: inline-block;
    transition: padding-bottom 200ms ease;
}
.rmq-e6776fcd>p{
text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 0.06px;
    font-weight: 600;
}
@media (min-width: 30em){
    .rmq-e6776fcd>p{
            font-size: 11px;
            letter-spacing: 0.08px;
            font-weight: 700;
        }
}
@media (min-width: 45em){
    .rmq-e6776fcd>p{
        font-size: 13px;
        letter-spacing: 0.07px;
        font-weight: 700;
    }
}
@media (min-width: 37.5em){
    .rmq-d78b67aa {
        font-size: 31px !important;
        line-height: 1.09375 !important;
    }
    }
@media (min-width: 37.5em){
.rmq-8ab9fb2c {
    letter-spacing: -0.56px !important;
    font-size: 25px !important;
}
}
.rmq-bccac90c>h1{
font-family: 'Benton Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 500;
    color: #fff;
}
@media (min-width: 30em){
    .rmq-bccac90c>h1{
       font-size: 21px;
       font-weight: 600;

    }
}
@media (min-width: 45em){
    .rmq-bccac90c>h1{
       font-size: 24px;
       font-weight: 600; 

    }
}
@media (min-width: 37.5em){
.CalloutLink {
margin-top: 42px !important;
}
}
.CalloutLink{
    display: inline-block;
margin-top: 42px;
cursor: pointer;
}

@media (min-width: 35em){
.CalloutLink >div{
    margin-bottom: 24px !important;
}
}
.CalloutLink >div {
    background-color: rgba(189,206,227, 0.30);
    display: inline-block;
    height: 1px;
    margin-bottom: 8px;
    width: 150px;
}

.CalloutLink > a{
    color: rgba(255,255,255, 0.87);
    display: block;
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    transition: color 200ms ease-out;
}
@media (min-width: 30em){
    .CalloutLink > a{
        font-size: 12px;
        font-weight: 700;
    }
}
@media (min-width: 45em){
    .CalloutLink > a{
        font-size: 13px;
        font-weight: 700;
    }
}
svg:not(:root) {
    overflow: hidden;
}
svg:not(:root) {
    overflow: hidden;
}
.svg-Icon{
display: inline-block;
fill: currentColor;
height: 5px;
line-height: 1;
vertical-align: middle;
width: 5px;
margin-left: 8px;
margin-top: -2px;
transition: transform 200ms ease-out;
}
.rmq-28661b5b{
    display: none;
}
@media(min-width:1300px){
    .rmq-28661b5b{
        display: block;
        
position: absolute;
bottom: 0;
width: 100%;
    }
}

@media (min-width: 48em){
    .TabNavigation {
    opacity: 0;
    -webkit-animation: 1s 1.5s forwards fadeIn;
    animation: 1s 1.5s forwards fadeIn;
    }
}
.TabNavigation{
    position: relative;
    display: flex;
    
}  
.Navigation-slider{
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(189,206,227,.4);
}
.TabNavigation-span{
    height: 4px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
    transition: transform 0.35s ease;
    top: 0px;
    transform: translate3d(585.25px, 0px, 0px);
}
.nav-div-first{
    width: 292.5px;
    flex: 1;
    position: relative;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 7.5px;
}
.nav-div-second{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: transparent;
cursor: pointer;
z-index: 100;
}
@media (min-width: 52.5em){
.nav-div-context {
font-size: 12px !important;
}
}
.nav-div-context{
display: flex;
align-items: center;
font-size: 11px;
}
.NumberMarker{
    backface-visibility: hidden;
    color: #fff;
    display: inline-block;
    font-family: 'Miller Daily', 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    position: relative;
    text-align: center;
    width: 24px;
    z-index: 1;
}
@media (min-width: 60em){
    .nav-div-context-span {
        width: 75% !important;
    }
}
.nav-div-context-span{
    width: 85%;
    padding-left: 14px;
    font-weight: 700;
}
.NumberMarker-diamond{
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0, .18);
    display: block;
    height: 100%;
    margin-top: -23px;
    position: relative;
    transform: rotate(45deg);
    width: 100%;
    z-index: -1;
    border: 1px solid #fff;
    opacity: 0.5;
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}
.lp-global-header {
    position: relative;
    z-index: 100;
    transition: all .5s cubic-bezier(.42,0,.58,1);
}
.lp-global-header--normal {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.4)),to(transparent));
    background: linear-gradient(180deg,rgba(0,0,0,.4),transparent);
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 100;
    height: 85px;
}
@media(min-width:920px){
    .lp-global-header--normal {
    height: 185px;
    }
}
@media (min-width: 48em){
    .animate .lp-global-header {
        opacity: 0;
        -webkit-animation: 1s 1s forwards fadeIn;
        animation: 1s 1s forwards fadeIn;
    }
}
.lp-global-header__container {
    max-width: 1229px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 14;
    margin-right: 0px;
}
@media (min-width: 45em){
    .lp-global-header__container {
        margin-left: 60px;
        margin-right: 60px;
    }
}
@media (min-width: 67.5em){
    .lp-global-header__container {
        margin-left: 120px;
        margin-right: 120px;
    }
}

.lp-global-header__inner {
    height: 85px;
    -webkit-perspective: 800px;
    perspective: 800px;
    position: relative;
}
@media (min-width: 920px){
    .lp-global-header__inner {
        border-bottom: .5px solid hsla(0,0%,100%,.3);
        height: 130px;
    }
}
.lp-global-header__container:after {
    content: " ";
    display: block;
    clear: both;
}
.lp-logo--normal, .lp-logo--white {
    color: #fff;
}

.lp-logo {
    display: block;
    width: 130px;
    left: 20px;
    float:left;
}
.lp-global-header .lp-logo ,._logo .lp-logo{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
@media (min-width: 700px){
    .lp-global-header .lp-logo {
        width: 142px;
        left: 0px;
        float: none;
    }
}
._logo{
    width: 165px
}
._logo .lp-logo{
    color: #000;
}
.menu_container{
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
    -webkit-transition: all .5s cubic-bezier(.42,0,.58,1);
    transition: all .5s cubic-bezier(.42,0,.58,1);
    position: fixed;
    z-index: 8000;
    height: 100%;
    overflow: auto;
    background-color: darkslategray;
    width: 220px;
}
._menu{

    padding-top: 6.625rem;
}
._menu ul{
    list-style: none;
}
._menu li{
    color: white;
    padding-left: 18px;
    border-bottom: 1px solid #262626;
}
._menu li a{
    color: white;
}
.lp-global-header__search {
    display: none;
}
@media (min-width: 920px){
    .lp-global-header__search {
        background-color: transparent;
        border: 0;
        color: hsla(0,0%,100%,.38);
        cursor: pointer;
        display: block;
        font-size: 24px;
        font-weight: 100;
        height: 130px;
        right: 0;
        line-height: 130px;
        margin-top: -65px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        text-align: left;
        text-overflow: ellipsis;
        top: 50%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        width: 38.7013%;
    }
}
@media (min-width: 80.625em){
    .lp-global-header__search {
        text-align: center;
        width: auto;
    }
}
.lp-global-header__navigation {
    bottom: 0;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
@media (min-width: 920px){
    .lp-global-header__navigation {
        display: block;
    }
}
.lp-global-header__mobile {
    bottom: 0;
    position: absolute;
    top: 15px;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}
.lp-global-header__mobile--left {
    right: 40px;
    width: 50px;
    top: 27px;
    height: 40px;
}
.lp-global-header__mobile--right {
    right: 0px;
    width: 50px;
}
@media(min-width:720px){
    .lp-global-header__mobile--left {
        left: -50px;
        right: 0;
    }
}
@media(min-width:720px){
    .lp-global-header__mobile--right {
        right: -50px;
    }
}
@media (min-width: 920px){
    .lp-global-header__mobile {
        display: none;
    }
}

.svg-icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}
.svg-icon--fit {
    height: 100%;
    width: 100%;
}
svg:not(:root) {
    overflow: hidden;
} 
.lp-global-header__search .svg-icon {
    color: #fff;
    font-size: 18px;
    margin-left: 14px;
    -webkit-transition: margin .4s;
    transition: margin .4s;
    vertical-align: 0;
}
.lp-global-header__search-text {
    color: #fff;
    -webkit-transition: color .4s;
    transition: color .4s;
}
.lp-global-header__search-beyond {
    display: none;
}
.navigation {
    font-size: 0;
    line-height: 130px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
nav ul {
    list-style: none;
}
.navigation__item, .navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation__item, .navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation__item {
    display: inline-block;
    margin-left: 17px;
    position: relative;
}
.navigation__item:not(:last-child) {
    margin-right: 17px;
}

.navigation__link {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: color .4s;
    transition: color .4s;
}
.navigation__item>.js-gtm-login {
    border: 1px solid hsla(0,0%,100%,.6);
    border-radius: 17px;
    line-height: 0;
    padding: 17px 20px 15px;
    -webkit-transition: background-color .4s,border-color .4s;
    transition: background-color .4s,border-color .4s;
}
.lp-global-header__mobile-cart, .lp-global-header__mobile-menu, .lp-global-header__mobile-search {
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lp-global-header__mobile-menu, .lp-global-header__mobile-search {
    font-size: 24px;
    height: 50px;
    line-height: 1;
    top: 0;
    width: 50px;
}
.lp-global-header__mobile-menu .menu-icon {
    left: 13px;
    right: 13px;
    top: 25px;
}

.lp-global-header__mobile-menu .menu-icon, .lp-global-header__mobile-menu .menu-icon::after, .lp-global-header__mobile-menu .menu-icon::before {
    background-color: #fff;
    display: block;
    height: 2px;
    position: absolute;
    width: 24px;
}
.lp-global-header__mobile-menu .menu-icon:after, .lp-global-header__mobile-menu .menu-icon:before {
    content: "";
    left: 0;
    right: 0;
}
.lp-global-header__mobile-menu .menu-icon::before {
    top: -7px;
}
.lp-global-header__mobile-menu .menu-icon::after {
    top: 7px;
}
.lp-search {
    background-color: #fff;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    z-index: 8000;
}
@media (min-width: 45em){
    .lp-search {
        -webkit-box-shadow: -5rem 0 15rem rgba(0,0,0,.5);
        box-shadow: -5rem 0 15rem rgba(0,0,0,.5);
    }
}
.lp-search--visible {
    opacity: 1;
}
.lp-search__container {
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 15px;
    margin-right: 15px;
}

@media (min-width: 45em){
    .lp-search__container {
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media (min-width: 67.5em){
    .lp-search__container {
        margin-left: 60px;
        margin-right: 60px;
    }
}
.lp-search__inner {
    height: 50px;
    line-height: 38px;
    position: relative;
}
@media (min-width: 920px){
    .lp-search__inner {
        height: 130px;
    }
}
.lp-search__label {
    bottom: 0;
    color: #3b444f;
    display: block;
    font-size: 0;
    height: 18px;
    right: 0;
    line-height: 1;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    top: 0;
    width: 18px;
}
@media (min-width: 45em){
    .lp-search__label {
        top: -4px;
    }
}
.lp-search__input {
    border: 0;
    bottom: 0;
    color: #3b444f;
    font-size: 16px;
    height: 38px;
    left: 25px;
    margin-bottom: auto;
    margin-top: auto;
    outline: 0;
    position: absolute;
    right: 59px;
    top: 0;
    width: calc(100% - 50px - 9px);
}
@media (min-width: 45em){
    .lp-search__input {
        font-size: 24px;
        font-weight: 300;
        left: 34px;
        right: 34px;
        width: calc(100% - 80px);
    }
}

.lp-search__close {
    background-color: transparent;
    border: 0;
    bottom: 0;
    color: #bdcee3;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    margin-bottom: auto;
    margin-top: auto;
    outline: 0;
    padding: 0;
    position: absolute;
    left: -9px;
    top: 0;
    -webkit-transition: color .4s;
    transition: color .4s;
    width: 38px;
}
@media (min-width: 45em){
    .lp-search__close {
        top: -4px;
    }
}
.lp-search__label .svg-icon,.lp-search__close .svg-icon {
    font-size: 18px;
    vertical-align: 0;
}
.lp-search-results {
    height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    -webkit-transition: opacity .4s,-webkit-transform .4s;
    transition: opacity .4s,-webkit-transform .4s;
    transition: opacity .4s,transform .4s;
    transition: opacity .4s,transform .4s,-webkit-transform .4s;
}
.lp-search-results__list {
    border-top: 1px solid #e4eaf8;
    display: block;
    list-style: none;
    margin-bottom: 45px;
    padding-top: 10px;
}
.lp-search-results__more {
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 45px;
}
.lp-search-results__more, .lp-search-results__more:after, .lp-search-results__more:before {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: color,border,background;
    transition-property: color,border,background;
}
.page-header-navigation {
    display: none;
  }
  @media (min-width: 920px){
    .page-header-navigation {
        padding-top: 10px;
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
  }
  .page-header-navigation .menu-category {
    text-align: center;
    font-size: 0;
  }
  .page-header-navigation .menu-category>li {
    display: inline-block;
    font-size: 1rem;
    padding: .75rem .5rem;
  }
  @media (min-width: 64em){
    .page-header-navigation .menu-category>li {
        padding-left: .5rem;
        padding-right: .5rem;
    }
  }
  @media (min-width: 73.125em){
    .page-header-navigation .menu-category>li {
        padding-left: .75rem;
        padding-right: .75rem;
    }
  }
  .page-header-navigation .menu-category>li.menu-category-featured {
    padding-left: 0;
  }
  .page-header-navigation .menu-category-link {
    font-size: .75em;
    color:white;
    text-transform: uppercase;
    font-weight: 500;
  }
  @media (min-width: 73.125em){
    .page-header-navigation .menu-category-link {
        font-size: .813em;
    }
  }
  .page-header-navigation .menu-category>li>a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-right: .313rem;
  }
  @media (min-width: 64em){
    .page-header-navigation .menu-category>li>a {
        margin-right: .938rem;
    }
    
  }
  .page-header-navigation .menu-category .level-2 {
    display: block;
    background-color:darkslategrey;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0;
    -webkit-transition: top .2s,max-height .2s,padding .2s;
    transition: top .2s,max-height .2s,padding .2s;
    -webkit-box-shadow: 0 0.063rem 0.125rem rgba(17,17,17,.1);
    box-shadow: 0 0.063rem 0.125rem rgba(17,17,17,.1);
    top: 5.188rem;
    overflow: hidden;
    max-height: 0;
    min-height: 0;
  }
  @media (min-width: 51.875em){
    .page-header-navigation .menu-category .level-2 {
        top: 185px;
    }
  }
  .page-header-navigation .menu-category .level-2>.flyout-menu-wrapper {
    -webkit-transition: left .2s;
    transition: left .2s;
    text-align: left;
    padding-left: 13rem;
    padding-right: 7rem;
    padding-bottom: 60px;
  }
  
  @media (min-width: 64em){
    .page-header-navigation .menu-category .level-2>.flyout-menu-wrapper {
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
        left: 175px;
        max-width: 40.5rem;
    }
  }
  @media (min-width: 73.125em){
    .page-header-navigation .menu-category .level-2>.flyout-menu-wrapper {
        padding-left: .75rem;
        max-width: 80rem;
        min-height: 13.5rem;
    }
  }
  .menu-vertical {
    float: right;
    padding-top: 25px;
    vertical-align: top;
    display: inline-block;
    margin-right:200px;
    width: calc((100% / 6) - 4px);
  }
  @media(max-width:1023px){
    .menu-vertical {
        margin-right:-50px;
      }
}
  .menu-vertical>li {
    display: block;
    text-align: left;
  }
  .menu-vertical>li>a {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    font-size: .875em;
    line-height: 2.063em;
    opacity:1;
    text-decoration: none;
  }
  .menu-vertical-li>a :hover {
    text-decoration: underline;
  }
  .page-header-navigation .view-all {
    margin-top: 2.5rem;
    text-align: center;
    padding-top: 1.063rem;
    padding-bottom: 1.063rem;
  }
  @media(max-width:1169px){
    .page-header-navigation .view-all {
        margin-top: 8.5rem;
      }
}
@media(max-width:1023px){
    .page-header-navigation .view-all {
        margin-top: 9.5rem;
      }
}
  .page-header-navigation .view-all>a {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    text-align: right;
  }
  .page-header-navigation .view-all .arrow-link {
    top: .188rem;
  }

  .col {
    overflow: visible;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.meganavcoldeal {
    float: left;
    width: 31%;
    padding-right: 20px;
    border-right: 1px dashed #ccc;
}

.col {
    float: right;
}

.meganavcoldeal {
    padding-top: 10px;
    float: left;
    margin-left: -150px;
    padding-left: 10px;
    padding-bottom: 4px;
    border-right: 0;
}
@media(max-width:1169px){
    .meganavcoldeal {
    width: 285px;
    margin-left: -522px;
    }
}
@media(max-width:1023px){
    .meganavcoldeal {
    width: 330px;
    margin-left: -200px;
    padding-right: 50px;
    padding-left: 0;
    margin-right: 0;
    }
}
.meganavcoldeal h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
    font-size: 23px;
    line-height: 1.2em;
    text-align: right;
}
@media(max-width:1169px){
    .meganavcoldeal h4 {
        font-size: 15px;
    }
}

.meganavcoldeal a {
    text-decoration: none;
    color: white;
    margin-left: 100px;
}
@media(max-width:1169px){
    .meganavcoldeal a {
        margin-left: 63px;
    }
}
@media(max-width:1023px){
    .meganavcoldeal a {
        margin-left: 78px;
    }
}
.meganavcoldeal h4 a {
    text-decoration: none;
}
.meganavcoldeal h4 a {
    display: block;
    text-decoration: none;
}
.meganavimg img {
    display: block;
    padding: 2px;
    max-width: 75%;
    border: 1px solid #ccc;
    max-height: 150px;
}
.meganavcolprice {
    margin-right: 20px;
    width: 18%;
    float: right;
    text-align: right;
}
@media(max-width:1169px){
    .meganavcolprice {
        margin-top: 0;
        width: 26%;
    }
}
@media(max-width:1023px){
    .meganavcolprice {
        width: 23%;
    }
}
.meganavcurrency {
    display: inline-block;
    font-size: 15px;
    color: white;
    float: left;
}
.meganavcurrency {
    margin-top: 6px;
}
@media(max-width:1169px){
    .meganavcurrency {
        font-size: 14px;
    }
}
.meganavprice {
    display: inline-block;
    font-size: 28px;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-decoration: none;
    color: white;
}
@media(max-width:1169px){
    .meganavprice {
        font-size: 17px;
    }
}
.meganavpriceold {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    text-decoration: line-through;
    color: red;
}
@media(max-width:1169px){
    .meganavpriceold {
        font-size: 13px;
    }
}
.meganavprice , .meganavpriceold{
    float: none;
}
.meganavcolbtn {
    margin-top: 6px;
    width: 49%;
    text-align: right;
    float: left;
}
.meganavcolbtn {
    text-align: left;
}
.btn-primary{
    font-size: 14px;
    font-weight: 600;
    border: 1px solid hsla(0,0%,100%,.6);
    border-radius: 17px;
    line-height: 0;
    padding: 7px 21px 7px;
    transition: background-color .4s,border-color .4s;
}
@media(max-width:1169px){
    .btn-primary{
        font-size: 14px;
        font-weight: 500;
     margin-left: 0;
    margin-top: 3px;
    padding: 2px 13px 3px;
    }
}

