<div class="_container">
  <div class="_title">
    <h3>Add category</h3>
  </div>
  <div class="_row">
    <label>
      Name
    </label>
    <input id="resourceNameId" name="resourceName" type="text" placeholder="" [(ngModel)]="category.ResourceName" (input)="onChangeInput('name',$event.target.value)">
    <span id="errorMessage_name" style="color: red;display: none;margin-left: 10px;
                font-size: 13px;">{{errorMessage_name}}</span>
  </div>
  <div class="_row">
    <label>
      Description
    </label>
    <textarea id="resourceDescriptionId" name="resourceDescription" placeholder="" [(ngModel)]="category.ResourceDescription" (input)="onChangeInput('desc',$event.target.value)"></textarea>
    <span id="errorMessage_desc" style="color: red;display: none;margin-left: 10px;
                font-size: 13px;">{{errorMessage_desc}}</span>
  </div>
  <div class="_row">
      <button id="submitId" name="submit" (click)="add()">
          <span>Add</span>
        </button>
    </div>
</div>
