<div id="renderTarget">
  <div>
    <div>
      <div class="sc-gzVnrw fNWXQM">
        <div class="sc-bxivhb eoDxQP">
          <i class="sc-htpNat eSNZce"></i>
        </div>
       <!-- <a class="sc-bZQynM lmDZDG">
          <div class="sc-EHOje icxTDc">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
            <path d="M1.9 1.9l21.2 21.2M23.1 1.9L1.9 23.1"></path>
            </svg>
          </div>
        </a>-->
        <div class="sc-bdVaJa hIwvdW">
          <div class="sc-bwzfXH dnDIkE">
            <div>
              <h1 class="sc-ckVGcZ dQQxYO">
                <span>Log into Marhaba</span>
              </h1>
              <div>
                <input class="username sc-cvbbAY bEXeAl" name="email" type="email" [(ngModel)]="email" placeholder="Email Address" autocapitalize="none" autocorrect="off" (input)="onChangeInput('email',$event.target.value)">
                <p id="errorMessage_email" style="color: red;display: none;margin-left: 10px;
                font-size: 13px;">{{errorMessage_email}}</p>
              </div>
              <div>
                <input id="_password" class="password sc-cvbbAY cPzClN" name="password"  [(ngModel)]="password" type="password" placeholder="Password" (input)="onChangeInput('password',$event.target.value)">
                <p id="errorMessage" style="color: red;display: none;margin-left: 10px;
                font-size: 13px;">{{errorMessage}}</p>
              </div>
              
              <button class="sc-eNQAEJ rAVIf sc-kAzzGY cEEZnk" data-test="login" (click)="submit()">
                <span>Log In</span>
              </button>
            </div>
            <div data-test="oauth-login">
            </div>
          </div>
        </div>
        <div class="sc-VigVT lkMunw">
          <div class="sc-gqjmRU cyqrMH">
            <a class="sc-jTzLTM YyxQW sc-htoDjs cVyllw" data-test="CreateAnAccount" routerLink='/rigister'>
            <span>Create an Account</span>
            </a>
            <a class="sc-jTzLTM YyxQW sc-htoDjs cVyllw" data-test="RecoverAccount" href="">
            <span>Back to main page</span>
            </a>
            <a class="sc-gZMcBi dApcPT" margin="none" data-test="google">
              <span>Log in with Google</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


