* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}
img {
    border: 0;
}
img {
    vertical-align: middle;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, .h1 {
    font-size: 36px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
}
@media (min-width: 800px){
.container {
    width: 717px;
}
}
@media (min-width: 992px){
.container {
    width: 970px;
}
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}
}
.singledeal {
    padding-top: 20px;
    padding-bottom: 10px;
}
.singledealcolleft {
    overflow: visible;
    float: left;
    margin: 0;
    padding: 0;
    width: 68%;
    max-width: 100%;
}
@media screen and (max-width: 900px){
.singledealcolleft {
    float: none;
    margin: 0 auto;
    width: 92%;
}
}
.singledeal h1 {
    overflow: visible;
    display: block;
    margin: 0 0 9px;
    padding: 0;
    font-size: 24px;
    line-height: 1.2em;
    line-height: 1.4em;
    color: #333;
}
@media screen and (max-width: 900px){
    .singledeal h1 {
        font-size: 16px;
    }
    }
.singledealrow {
    overflow: hidden;
    margin: 6px 0;
}
.carousel {
    position: relative;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
@media screen and (min-width: 800px){
.carousel-indicators {
    bottom: 20px;
}
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1);
    background-repeat: repeat-x;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
.carousel-inner>.item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: block;
}
.carousel-inner>.active {
    left: 0;
}
.carousel-inner>.item.next.left, .carousel-inner>.item.prev.right, .carousel-inner>.item.active {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    line-height: 1;
}
.slider-arrow {
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    top: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.slider-arrow-left {
    margin: -15px 0 0 -15px;
    left: 50%;
    background-position: -291px -24px;
}
.slider-arrow-right {
    margin: -15px -15px 0 0;
    right: 50%;
    background-position: -291px 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.singledealcolright {
    overflow: visible;
    float: left;
    margin: 0 0 0 12px;
    padding: 0;
    width: 96%;
    max-width: 100%;
}
@media(min-width:900px){
  .singledealcolright {
    width: 30%;
}
}
@media(max-width:900px){
    .singledealcolright {
      margin: 0;
  }
  }
.singledealbuy {
    overflow: auto;
    margin: 0 0 10px;
    padding: 0;
    border: 0px ;
    background: #fff;
}
@media (min-width: 900px){
.singledealbuy {
    border: 1px solid #e6e6e6;

}
}
@media screen and (max-width: 900px){
.singledealbuy {
    padding-bottom: 6px;
}
}
.singledealbuytop {
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 2px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 55px;
}
@media (min-width: 900px){
.singledealbuytop{
  padding-top: 45px;

}
}
@media (min-width: 992px){
.singledealbuytop {
  padding-top: 95px;
}
}
@media (min-width: 1200px){
.singledealbuytop {
  padding-top: 105px;
}
}
.singledealpanel {
    overflow: visible;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #e6e6e6;
    background: #fff;
}
.companyinfo small {
    overflow: visible;
    display: block;
    margin: 6px 0;
    font-size: 13px;
    color: #39abf3;
}
.companyinfo h3 {
    overflow: visible;
    display: block;
    margin: 0 0 12px;
    padding: 0;
    font-size: 19px;
    color: #333;
}
.companyinfo p {
    overflow: visible;
    display: block;
    margin: 6px 0;
    font-size: 13px;
    color: #666;
}
.companyinfo b {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #ff7b02;
}
.companyinfo b a {
    text-decoration: underline;
    color: #ff7b02;
}

.ico16 {
    display: inline-block;
    overflow: visible;
    margin: 0 auto;
    padding: 0;
    margin: 0 6px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
     background-position: -94px -320px;
    background-repeat: no-repeat;
}
.ico16-map-blue {
    background-position: -146px -96px;
}
.dealcta {
    overflow: hidden;
    display: block;
    padding: 4px 0;
    width: 100%;
    color: #fff;
    background: #39abf3;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -khtml-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -khtml-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 3px solid #3194d2;
}
.dealspotlightcta {
    margin: 6px 0 0;
    text-align: center;
    color: #666;
    background: #f0f0f0;
    border-bottom: 0;
}

@media screen and (max-width: 900px){
.dealspotlightcta {
    position: fixed;
    margin: 6px 0 0px;
    padding: 12px 20px 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    z-index: 1000;
}
}
@media screen and (max-width: 600px){
.dealspotlightcta {
    padding: 0;
}
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn {
    background: #fff;
    border: 0;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    -khtml-border-radius: 16px;
}
.btn-info {
    padding: 4px 16px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ff7b02;
    background-color: #fff;
    border: 0;
    border-color: none;
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid #e6e6e6;
}

.singledealtimer {
    clear: both;
    display: inline-block;
    margin: 0 auto;
    margin-top: 4px;
    padding: 2px 21px 4px;
    background-color: #fff;
    border-color: none;
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid #e6e6e6;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    -khtml-border-radius: 16px;
}
@media screen and (max-width: 900px){
.singledealtimer {
    float: none;
}
}
.singledealrow {
    overflow: hidden;
    margin: 6px 0;
}
.singledealprice {
    display: block;
    margin: 6px 0 4px;
}
@media screen and (max-width: 600px){
.singledealprice {
    float: none;
}
}
@media screen and (max-width: 900px){

}
.singledealprice {
    float: left;
    padding: 0px 28% 2px;
}
@media (min-width: 350px){
.singledealprice{
  padding: 10px 30% 2px;

}
}
@media (min-width: 400px){
.singledealprice{
  padding: 10px 33% 2px;

}
}
@media (min-width: 460px){
.singledealprice{
  padding: 10px 37% 2px;

}
}
@media (min-width: 510px){
.singledealprice{
  padding: 10px 50px 2px;

}
}
@media (min-width: 800px){
.singledealprice{
  padding: 0px 30px 5px;

}
}
@media (min-width: 992px){
.singledealprice{
  padding: 0px 50px 2px;

}
}
.singledealspotlightbtn {
    display: inline-block;
    margin-bottom: 6px;
    padding: 5px 18px 6px;
    font-size: 25px;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: #af5300 0.1em 0.1em 0.1em;
    color: #fff;
    background-color: #ff7b02;
    border-bottom: 4px solid #af5300;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -khtml-border-radius: 12px;
}



@media screen and (max-width: 900px){
.singledealspotlightbtn {
    float: right;
}
}
@media screen and (max-width: 600px){
.singledealspotlightbtn {
    float: none;
     margin-right: 49px;
     margin-top: 10px;
}
}
@media (max-width: 510px){
.singledealspotlightbtn {
  margin-right:0%;

}
}

.singledealcurrency {
    font-size: 19px;
    letter-spacing: -.5px;
    text-shadow: #217db7 0.1em 0.1em 0.1em;
    color: #fff;
}
@media (min-width: 800px){
.singledealcurrency{
  font-size: 21px;

}
}
@media (min-width: 992px){
.singledealcurrency {
  font-size: 22px;
}
}
@media (min-width: 1200px){
.singledealcurrency {
  font-size: 24px;
}
}
.singledealcurrencyspotlight {
    text-shadow: none;
    color: #666;
}

.singledealpriceold {
    font-size: 30px;
    letter-spacing: -1.5px;
    text-decoration: line-through;
    color: #d7efff;
}
@media (min-width: 800px){
.singledealpriceold{
  font-size: 35px;

}
}
@media (min-width: 992px){
.singledealpriceold {
  font-size: 37px;
}
}
@media (min-width: 1200px){
.singledealpriceold {
  font-size: 40px;
}
}
.singledealpriceoldspotlight {
    color: #999;
}

.singledealpricenew {
    font-size: 48px;
    letter-spacing: -1.5px;
    line-height: 99%;
    text-shadow: #217db7 0.05em 0.05em 0.05em;
    color: #fff;
}
@media (min-width: 800px){
.singledealpricenew {
  font-size: 55px;

}
}
@media (min-width: 992px){
.singledealpricenew  {
  font-size: 60px;
}
}
@media (min-width: 1200px){
.singledealpricenew  {
  font-size: 65px;
}
}
.singledealpricenewspotlight {
    text-shadow: none;
    color: #666;
}
.singledealspotlightbtn .btnlabel {
    display: inline-block;
    margin: 8px 6px 0 0;
}
.singledealspotlightbtn .btnsep {
    margin: 0 1px;
    border-left: 1px solid #af5300;
    border-right: 1px solid #ffa048;
}
.ico54 {
    display: inline-block;
    overflow: visible;
    margin: 0 auto;
    padding: 0;
    width: 54px;
    height: 54px;
    vertical-align: middle;background-repeat: no-repeat;
}

.ico54-ok {
    background-position: 0 -54px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}
@media(max-width:400px){
.modal-body {padding: 2px 2px;}
}
.modalcartrow {
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    padding: 6px 0;
    width: 98%;
    font-size: 16px;
    border-bottom: 1px solid #e9e9e9;
}
.modalcartcol1 {
    overflow: visible;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 38%;
    max-width: 100%;
    color: #39abf3;
}

.modalcartcol2 {
    overflow: visible;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20%;
    font-size: 19px;
    text-align: center;
    max-width: 100%;
}
.modalcartcol3 {
    overflow: visible;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 5%;
    text-align: center;
    max-width: 100%;
}
.modalcartcol4 {
    overflow: visible;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 14%;
    font-size: 19px;
    text-align: center;
    max-width: 100%;
}
@media(max-width:400px){
  .modalcartcol1,.modalcartcol2,.modalcartcol3 ,.modalcartcol4{
    font-size: 9px;
}
}
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.modalrow {
    overflow: auto;
    margin: 0 auto;
    padding: 6px 0;
    width: 98%;
    border-bottom: 1px solid #e9e9e9;
}
.hideweb {
    display: none;
}
.ico16-trash {
    background-position: -94px 0;
}
.text-right {
    text-align: right;
}
.modeltotallabel {
    font-size: 16px;
    color: #ff7b02;
}
.leftx9 {
    margin-left: 9px;
}
.rightx6 {
    margin-right: 6px;
}
.modeltotalprice {
    font-size: 24px;
    color: #39abf3;
}
.modalnotes {
    overflow: auto;
    margin: 8px 0;
    font-size: 12px;
    line-height: 1.3em;
    color: #a6a6a6;
}

.modalnotes ul {
    overflow: visible;
    margin: 0;
    padding: 0;
    list-style: none;
}
.modalnotes ul li {
    margin: 0 0 4px;
    padding: 0 0 0 20px;
    color: #a6a6a6;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0 2px;
}
.product-info {
    clear: both;
    background-color: #f7f7f7;
    padding: 3.125rem 0 1.875rem;
}
@media (min-width: 48em){
    .product-info {
        padding: 6.25rem 0 3.75rem;
    }
    
}

.content-wrapper {
    margin-left: 1.563rem;
    margin-right: 1.563rem;
}
@media (min-width: 48em){
    .content-wrapper {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}
@media (min-width: 64em){
    .content-wrapper {
        margin-left: 4.375rem;
        margin-right: 4.375rem;
    }
}
.content-wrapper {
    max-width: 90rem;
}
.accordion {
    list-style: none;
}
.accordion__item {
    border: solid #e0e0e0;
    border-width: 0 0 .063rem;
    position: relative;
}
.accordion>li {
    list-style: none!important;
}
.accordion__item:first-of-type {
    border-top-width: .063rem;
}
.accordion .accordion__title {
    position: relative;
    text-decoration: none;
    display: block;
    color: #222;
    cursor: pointer;
    font-size: .75rem;
    padding: 1.563rem 0 1.563rem .938rem;
    text-transform: uppercase;
    font-weight: 600;
}
.accordion .accordion__title .svgIconPlus {
    content: '';
    position: absolute;
    right: .625rem;
    top: 23px;
    font-size: 1rem;
    margin: 0;
    display: block;
    width: 15px;
    height: 17px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
}

.accordion__content {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    display: none;
    padding: 0 1.25rem 1.25rem .938rem;
    font-size: .875rem;
    opacity: 0;
}
.product-info .accordion__content {
    padding-top: 3.75rem;
    font-size: 0;
}
.product-info .accordion__content h3 {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 1.25rem;
    line-height: 1.4;
}
.product-info .accordion__content p {
    font-size: .875rem;
    color: #666;
}
.rich-text p{
    font: 400 .938rem/1.6 HelveticaNeueLTStd,arial,sans-serif;
}

_9ePPVKT {
    padding: 0;
    height: 100%;
    margin: 0 auto;
    position: relative;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
._2Pqhc_O, ._9ePPVKT {
    text-align: center;
    width: 100%;
}
._27-R9uX {
    width: 100%;
    height: 100%;
    position: relative;
}
._2Pqhc_O {
    color: #2d2d2d;
    font-family: futura-pt,sans-serif;
    font-size: 24px;
    letter-spacing: 1.7px;
    font-weight: 700;
    box-sizing: border-box;
    background-color: #f8f8f8;
    height: 40px;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px;
}
._3JNRYc8 {
    height: 100%;
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
}
@media (min-width: 768px){
._3JNRYc8 {
    box-sizing: border-box;
    max-width: 1366px;
    padding: 0 24px;
    margin: 0 auto;
}
}
@media (min-width: 1024px){
._3JNRYc8 {
    padding-left: 32px;
    padding-right: 32px;
}
}
.zCgWNEA {
    box-sizing: border-box;
    width: 100%;
    padding: 0 12px 36px;
}
@media (min-width: 768px){
.zCgWNEA {
    padding: 0 0 36px;
}
}
._3pvwV0k {
    font-family: futura-pt,sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 20px;
    color: #999;
    text-align: center;
    margin: 0 0 4px;
    padding: 16px 0 0;
}
._3-pEc3l {
    position: relative;
    display: block;
    overflow: visible;
}
._3-pEc3l section{
    margin-left: 20px;
    margin-right: 20px;
}
@media (min-width: 387px){
    ._3-pEc3l section{
        margin-left: 30px;
        margin-right: 30px;
    }
    }
    @media (min-width: 768px){
        ._3-pEc3l section{
            margin-left: 45px;
            margin-right: 38px;
        }
    }
    @media (min-width: 1024px){
        ._3-pEc3l section{
            margin-left: 65px;
            margin-right: 65px;
        }
    }

._2oHs74P {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 12px 0 1px 6px;
}
@media (min-width: 768px){
._2oHs74P:nth-of-type {
    margin-left: 0;
}
}
@media (min-width: 1024px){
._2oHs74P:nth-of-type {
    margin-left: 0;
}
}

@media (min-width: 387px){
._2oHs74P {
    width: calc(50% - 12px / 2);
}
}
@media (min-width: 768px){
._2oHs74P {
    width: calc(33.333% - 24px / 3);
}
}
@media (min-width: 1024px){
._2oHs74P {
    width: calc(25% - 36px / 4);
}
}
._3x-5VWa {
    display: block;
    text-decoration: none;
}
._1FN5N-P {
    position: relative;
    font-size: 0;
    margin-bottom: 9px;
    background-color: #eee;
    display: block;
}
._2Raol8i {
    font-family: futura-pt,sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 20px;
    color: #2d2d2d;
    display: block;
    width: 100%;
    margin: 0;
    height: 40px;
    margin-bottom: 12px;
}
._6RF5CVD {
    font-family: futura-pt,sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 20px;
    color: #2d2d2d;
    margin: 0;
    height: 40px;
}
._1FN5N-P img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
}
._10-bVn6 {
    overflow: hidden;
    height: 44px;
    line-height: 22px;
    word-wrap: break-word;
}
._10-bVn6>:first-child {
    float: right;
    width: 100%;
    margin-left: -1px;
}
._10-bVn6 p {
    margin: 0;
}
._3iq1GRC {
    display: inline-block;
}
._342BXW_ {
    font-weight: 900;
    letter-spacing: 2px;
    color: #666;
    white-space: nowrap;
}
